<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{partial :: bootstrap}"/>
    <title>Delete Event</title>
</head>
<body>
<header>
    <nav th:replace="~{nav :: navbar}"></nav>
</header>
<div class="container mt-4">
    <main class="pb-3" role="main">
        <h1>Are you sure you want to delete this Event?</h1>

        <div th:if="${event.endDate.isBefore(T(java.time.LocalDateTime).now())}" class="alert alert-info mt-3">
            <strong>Note:</strong> This event is in the past and will be archived instead of permanently deleted.
        </div>

        <div class="row">
            <div class="col-md-8">
                <div th:replace="~{event/fragments :: details}"></div>
                <form class="mt-3" method="post" th:action="@{/events/delete/{id}(id=${event.id})}">
                    <input class="btn btn-danger" type="submit" value="Delete"/>
                </form>
            </div>
        </div>

        <div class="mt-3">
            <a th:href="@{/events}">Go Back to Events List</a>
        </div>
    </main>
</div>
</body>
</html>