<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title='Event Details', content=~{::content})}"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">
    <div class="container py-4">
        <h1 th:text="${event.name}">Event Name</h1>

        <div class="row">
            <div class="col-md-8">
                <div class="card shadow-sm">
                    <div class="card-header bg-dark text-white">
                        <h5 class="card-title mb-0">Event Details</h5>
                    </div>
                    <div class="card-body">
                        <dl class="row mb-0">
                            <dt class="col-sm-4">Start Date</dt>
                            <dd class="col-sm-8"
                                th:text="${#temporals.format(event.startDate, 'MMMM dd, yyyy HH:mm')}"></dd>

                            <dt class="col-sm-4">End Date</dt>
                            <dd class="col-sm-8"
                                th:text="${#temporals.format(event.endDate, 'MMMM dd, yyyy HH:mm')}"></dd>

                            <dt class="col-sm-4">Name</dt>
                            <dd class="col-sm-8" th:text="${event.name}"></dd>

                            <dt class="col-sm-4">Description</dt>
                            <dd class="col-sm-8" th:text="${event.description} ?: 'N/A'"></dd>

                            <dt class="col-sm-4">Price</dt>
                            <dd class="col-sm-8" th:text="'$' + ${#numbers.formatDecimal(event.price, 1, 2)}"></dd>

                            <dt class="col-sm-4">Created Date</dt>
                            <dd class="col-sm-8"
                                th:text="${#temporals.format(event.createdDate, 'MMMM dd, yyyy HH:mm')}"></dd>

                            <dt class="col-sm-4">Last Updated Date</dt>
                            <dd class="col-sm-8"
                                th:text="${#temporals.format(event.lastUpdatedDate, 'MMMM dd, yyyy HH:mm')}"></dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-3">
            <a th:href="@{/event}">Go Back to Events List</a>
        </div>
    </div>
</div>
</body>
</html>
