<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title='Create Table', content=~{::content})}"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">
    <div class="container py-4">
        <h2 class="fw-bold mb-4">Create Dining Table</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <form method="post" th:action="@{/table/create}" th:object="${diningTable}">
                            <div th:replace="~{table/fragments :: input}"></div>
                            <button class="btn btn-primary" type="submit">
                                <i class="fa fa-save me-1"></i> Save
                            </button>
                        </form>
                    </div>
                </div>
                <a class="btn btn-link mt-3" th:href="@{/table}">
                    <i class="fa fa-arrow-left me-1"></i> Back to Tables
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
